*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-size-adjust: 0.5;
    font-family: serif;
}

.wallpaper {
    background-image: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
}
