*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --serif: 'Andada', serif;
    --sans-serif: 'Chivo', sans-serif;
    --box-shadow-1: 0 .3rem .4rem rgba(0, 0, 0, .1);
    --box-shadow-2: 0 .4rem 1rem rgba(0, 0, 0, .2);
    --border-line: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: var(--box-shadow-1), var(--box-shadow-2);
}

html {
    font-size: 62.5%;
    font-size-adjust: 0.5;
    font-family: var(--serif);
}

.wallpaper {
    background-image: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
}

.container {
    padding: 0 8rem;
}

/***
    *** HEADER
***/

.header {
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.header__logo {
    width: 8rem;
}

.menu-cart:after,
.menu-cart::after {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    background-image: url('../images/cart.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-cart {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--sans-serif);
}

/***
    *** PRODUCTS
***/

.product-container {
    max-width: 90rem;
    margin: 10rem auto 0;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.product__image {
    max-width: 30rem;
    margin-right: 4rem;
}

.product__name {
    line-height: 1.2;
    font-size: 3rem;
    font-family: var(--sans-serif);
}

.product__price {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .5);
    font-family: var(--sans-serif);
}

/***
    *** MODAL
***/

.modal:before,
.modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8rem;
}

.modal-container {
    position: relative;
    background-image: linear-gradient(
        to right, transparent 25rem, #fff 25rem);
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 5rem;
    padding: 5rem 5rem 5rem 0;
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(5rem, 0, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal__close-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .2rem solid #000;
    position: absolute;
    top: -1rem;
    right: -1rem;
    font-size: 1.6rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    background-color: #fff;
    font-family: var(--sans-serif);
}

.modal__picture {
    grid-column: 1;
    box-shadow: var(--box-shadow);
}

.modal__image {
    display: block;
    max-width: 30rem;
}

.modal__info {
    grid-column: 2;
    max-width: 60rem;
}

.modal__desc {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .7);
}

.modal__price {
    font-size: 1.8rem;
    font-family: var(--sans-serif);
}

.modal__name {
    font-size: 4.8rem;
    margin: .5rem 0 1rem;
    font-family: var(--sans-serif);
}

.modal__button {
    margin-top: 8rem;
    background-color: #1a1a1a;
    cursor: pointer;
    color: #fff;
    border: 0;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    font-family: var(--sans-serif);
    transition: .3s;
}

.modal__button--sold-out {
    background-color: #808080;
}

.modal__button:hover,
.modal__button:active {
    background-color: #808080;
}

/***
    *** REVIEWS
***/

.reviews {
    grid-column: 2;
}

.reviews__heading {
    font-size: 2.6rem;
    font-family: var(--sans-serif);
}

.reviews__list {
    list-style-type: none;
}

.reviews__item {
    padding-bottom: 2rem;
    border-bottom: var(--border-line);
}

.reviews__item:not(:last-of-type) {
    margin-bottom: 2rem;
}

.reviews__desc {
    margin: 2rem 0 .5rem;
    color: rgba(0, 0, 0, .7);
}

.reviews__username {
    font-weight: bold;
    font-size: 1.6rem;
    font-family: var(--sans-serif);
}


/***
    *** ALERT
***/

.alert {
    display: none;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.alert.active {
    display: block;
    animation: fadeInDown .3s forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -3rem, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.alert__message {
    background-color: #fff;
    display: inline-block;
    padding: 2rem 4rem;
    border: .2rem solid #000;
    box-shadow: var(--box-shadow);
    font-size: 1.6rem;
}


/***
    *** SHOPPING CART
***/

.cart-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.cart-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: none;
}

.cart-modal.active {
    display: block;
}

.cart-container {
    position: relative;
    margin: 8rem auto;
    background-color: #fff;
    padding: 4rem;
    max-width: 80rem;
    animation: fadeInDown .3s forwards;
}

.cart__shopping-list {
    list-style-type: none;
}

.cart__shopping-item {
    display: grid;
    grid-template-columns: 1fr 1fr 5rem;
    border-bottom: var(--border-line);
    padding: 1rem 0;
}

.cart__shopping-name {
    font-size: 1.6rem;
}

.cart__shopping-price {
    font-size: 1.6rem;
    text-align: right;
}

.cart__shopping-total {
    text-align: right;
    padding: 1rem 5rem 1rem 0;
    margin-bottom: 2rem;
    border-bottom: .2rem solid #000;
    font-size: 1.6rem;
}

.cart__heading {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid #000;
}

.cart__remove-button {
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;
}

.cart__purchase {
    display: block;
    margin-left: auto;
    background-color: #000;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 2.5rem;
    border: 0;
    font-family: var(--serif);
}

.cart__close-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}


/***
    *** RESPONSIVITY
***/

@media screen and (max-width: 900px) {
    .container {
        padding: 0 1rem;
    }

    .product-container {
        margin-top: 4rem;
    }

    .product {
        max-width: 38rem;
        margin: 3rem auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .product__info {
        padding: 2rem;
    }

    .product__image {
        max-width: 100%;
    }

    .product__name {
        font-size: 2.4rem;
    }

    .modal {
        padding: 1rem;
    }

    .modal-container {
        grid-gap: 2rem;
        padding: 1rem 0;
        background-image: none;
        background-color: #fff;
    }

    .modal__picture {
        grid-row: 2;
    }

    .modal__image {
        width: 100%;
        max-width: initial;
    }

    .modal__info {
        grid-column: 1;
        padding: 1rem;
    }

    .modal__button {
        margin-top: 2rem;
    }

    .reviews {
        grid-column: 1;
        padding: 1rem;
    }

    .reviews__desc {
        font-size: 1.6rem;
    }

    .reviews__username {
        font-size: 1.4rem;
    }

    .cart-modal {
        padding: 1rem;
    }
}
