*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-size-adjust: 0.5;
    font-family: serif;
}

.wallpaper {
    background-image: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
}

.container {
    padding: 0 8rem;
}

/***
    *** HEADER
***/

.header {
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.header__logo {
    width: 8rem;
}

.menu-cart:after,
.menu-cart::after {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    background-image: url('../images/cart.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-cart {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1.6rem;
}

/***
    *** PRODUCTS
***/

.product-container {
    max-width: 90rem;
    margin: 10rem auto 0;
}
